body{
    background: url("../img/personas-corriendo.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
body:before{
    content: "";
    background: rgba(0, 0, 0, 0.80);
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    z-index: -1;
}
#logo{
  width: 100px;
  height: 50px;
}
#navbar{
  float: right;
}
ul {
    font-display: Verdana;
    font-size: 24px;
    list-style-type: none;
    margin: 0;
    padding: 10px;
    text-indent: 150px;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0, 0);
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  text-decoration: none;
}

li a:hover {
  background-color: yellow;
}
#logo{
  position: sticky;

}