/*Globales*/
body{
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 1.5rem;  
}

.contenedor{
  max-width: 1200px;
  width: 95%;
  margin: 0 auto;  
}
.contenido-centrado{
  max-width: 90%;
}

h1, h2, h3, h4{
  font-family: Georgia, 'Times New Roman', Times, serif;
}

/*Escala de titulos*/
h1{
  font-size: 5rem;
}
h2{
  font-size: 4.5rem;
}
h3{
  font-size: 3.9rem;
}
h4{
  font-size: 3.4rem;
}

img{
  max-width: 100%;
}


/*header*/
.site-header{
  background-image: url(../img/personas-corriendo.jpg);
  background-position: center center;
  background-size: cover;
  height: 100vh;
  
}
.contenido-header{
  display: flex;
  justify-content: space-between;
  text-align: center;
  flex: 0 0 calc(30% - 3rem);
}
