.btn-group img {
    width : 25px;
    height: 25px;
}

.navbar-brand img {
    width: 55px;
}

ul {
    margin-right: 30px !important;
}

.homemargen {
    margin-top: 5%;
}

.marginlat {
    margin: 0 4% !important;
}

.homeboton {
    border-radius: 30px;
    width        : 350px;
    font-size    : 1.6rem !important;
    font-weight  : bold !important;
}

.homefooter {
    background-color     : #010A26;
    /* o background-color:#000000; */
    opacity              : 0.9;
}

.marginfooter {
    margin: 0 4% !important;
}

.homenavbar {
    border-bottom: 3px solid yellow;
    margin-left  : 80px;
    margin-right : 80px;
    background-color: #010A26 !important;
}

body{
    overflow-x: hidden;
}
html,
body,
header,
.view {
    height: 100%;
}

.view {
    background-image     : url(../img/homepage.jpg) !important;
    background-position-x: 0;
    background-position-y: -233px;
    background-repeat    : no-repeat;
    background-size      : cover;
    background-position  : center center;
    background-attachment: fixed;

}

@media (max-width: 740px) {

    html,
    body,
    header,
    .view {
        height: 100vh;
    }
}

.top-nav-collapse {
    border-bottom: 3px solid yellow;
}

.navbar:not(.top-nav-collapse) {
    background-color: #010A26 !important;
}

@media (max-width: 740px) {
    .navbar:not(.top-nav-collapse) {
        background-color: #010A26 !important;
    }
}
.md-pills .nav-link.active {
    color           : #fff;
    background-color: #616161;
}

button.close {
    position     : absolute;
    right        : 0;
    z-index      : 2;
    padding-right: 1rem;
    padding-top  : .6rem;
    
}

.card{
    background-color: #FFE482;
    border-radius: 30px;
    margin-left: 20px;    
    margin-right: 20px;
    margin-bottom: 30px !important;
    -webkit-box-shadow: 15px 15px 0px 1px rgba(0, 0, 0, 0.21);
-moz-box-shadow   : 15px 15px 0px 1px rgba(0, 0, 0, 0.21);
box-shadow        : 15px 15px 0px 1px rgba(0, 0, 0, 0.21);
}
.card img{
    border-radius: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
        height: 40vh;
        width: 30vh;
}
.card-body{
    background-color: white;
    border-radius: 30px;
}
.rendondo{
    border-radius: 30px !important;
    font-size: .8rem !important;
}
.cartelfull{
    width: 100%;
    height: 100%;
    padding: 5%;
    margin: 0 auto;
}